---
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout description="Page Not Found" title="404 - Page Not Found">
  <main
    class="flex flex-1 flex-col items-center justify-center px-4 text-center"
  >
    <div class="max-w-md space-y-6">
      <h1 class="sorts-mill-goudy text-tertiary text-7xl font-bold md:text-9xl">
        404
      </h1>
      <div class="space-y-2">
        <h2 class="text-primary text-2xl font-bold md:text-3xl">
          Page Not Found
        </h2>
        <p class="text-muted-foreground text-lg">
          Sorry, we couldn't find the page you're looking for. It might have
          been moved or deleted.
        </p>
      </div>
      <div class="py-4">
        <Button size="lg" href="/">Return Home</Button>
      </div>
    </div>
  </main>
</Layout>
