---
import Layout from "../layouts/Layout.astro";
import AddressSearch from "../components/AddressSearch.astro";
// import "../styles/global.css";
import "@fontsource-variable/montserrat";

export const prerender = true;
---

<Layout title="Home">
  <main class="flex flex-col items-center pt-10 min-h-[50vh] space-y-8">
    <div
      class="w-full md:max-w-3/4 max-w-11/12 justify-start bg-primary p-6 rounded-[50px] shadow-lg"
    >
      <h1 class="font-montserrat font-semibold text-4xl text-white">
        Find Your Ballot
      </h1>
      <AddressSearch />
      <h3 class="text-white pt-2">
        Type your address to see ONLY the candidates YOU can vote for
      </h3>
    </div>
  </main>
</Layout>

<style>
  h1 {
    font-family: "Montserrat", var(--font-sans);
    /* font-weight: bolder;
    font-style: italic; */
  }
</style>
