---
import Layout from "../layouts/Layout.astro";
import AddressSearch from "../components/AddressSearch.astro";
import "@fontsource-variable/montserrat";
import { Image } from "astro:assets";
import CandidateAboutSection from "../components/CandidateAboutSection.astro";
import QuoteBlock from "../assets/Quote-Block.png";
import InstagramEmbed from "../components/InstagramEmbed.astro";
import NextElectionCarousel from "../components/NextElectionCarousel.astro";
import NextElectionSkeleton from "../components/NextElectionSkeleton.astro";

export const prerender = true;
---

<Layout title="Home">
  <main
    class="mx-auto flex flex-1 flex-col items-center space-y-8 pt-10 md:px-0"
  >
    <div class="grid w-full grid-cols-12 gap-2 px-4">
      <AddressSearch class="col-span-12" />
      <div class="col-span-12 h-8"></div>

      <div class="col-span-12 pt-4 md:col-span-7">
        <Image
          src={QuoteBlock}
          alt="Wherever the people are well informed they can be trusted with their own government"
          loading="eager"
        />
      </div>
      <div class="col-span-12 grid w-full grid-cols-1 md:col-span-5">
        <div
          class="bg-primary inset-x-auto col-span-12 h-min w-full rounded-4xl py-2 md:order-0"
        >
          <CandidateAboutSection title="Upcoming Elections" titleSize="2xl">
            <NextElectionCarousel server:defer>
              <NextElectionSkeleton slot="fallback" />
            </NextElectionCarousel>
          </CandidateAboutSection>
        </div>
        <div class="w-full items-center justify-center pt-4">
          <div class="mx-auto">
            <InstagramEmbed />
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
