---
import Layout from "../layouts/Layout.astro";
import AddressSearch from "../components/AddressSearch.astro";
// import "../styles/global.css";
import "@fontsource-variable/montserrat";

export const prerender = true;
---

<Layout title="Home">
  <main class="flex flex-1 flex-col items-center space-y-8 pt-10">
    <AddressSearch />
  </main>
</Layout>
