---
import Layout from "../layouts/Layout.astro";
import AddressSearch from "../components/AddressSearch.astro";

export const prerender = true;
---

<Layout title="Home">
  <main
    class="flex flex-col items-center justify-center min-h-[50vh] space-y-8"
  >
    <h1 class="text-4xl font-bold text-primary">Find Your Polling Place</h1>
    <AddressSearch />
  </main>
</Layout>
