---
import Layout from "../layouts/Layout.astro";
import PersonalizedBallot from "../components/PersonalizedBallot.astro";
import BallotLoadingSkeleton from "../components/BallotLoadingSkeleton.astro";

export const prerender = true;
---

<Layout title="My Ballot">
  <main class="flex-1 px-4 py-8">
    <PersonalizedBallot server:defer>
      <BallotLoadingSkeleton slot="fallback" />
    </PersonalizedBallot>
  </main>
</Layout>

<style></style>
