---
import Layout from "../layouts/Layout.astro";
import VotePlanBallot from "../components/VotePlanBallot.astro";
import BallotLoadingSkeleton from "../components/BallotLoadingSkeleton.astro";

export const prerender = true;
---

<Layout
  description="For residents of Rutherford County, Tennessee, view the candidates for your ballot in the upcoming election and plan out your vote, securely and anonymously."
  title="Vote Plan"
>
  <main class="flex-1 px-4 py-8">
    <VotePlanBallot server:defer>
      <BallotLoadingSkeleton slot="fallback" />
    </VotePlanBallot>
  </main>
</Layout>

<style></style>
