---
interface Props {
  title: string;
  titleSize?: "2xl" | "3xl";
}

const { title, titleSize = "3xl" } = Astro.props;
---

<div class="py-4">
  <h2 class={`row-auto text-center text-${titleSize} font-bold text-white`}>
    {title}
  </h2>
  <div
    class="row-auto mx-auto mt-2 flex w-[90%] flex-col rounded-4xl bg-white p-4"
  >
    <slot />
  </div>
</div>
