---
import LandingPage from "../assets/LandingPage.png";
import MobileLandingPage from "../assets/MobileLandingPage.png";
import { Image } from "astro:assets";
---

<div class="home-page-container" id="desktop-container">
  <Image id="background" src={LandingPage} alt="" fetchpriority="high" />
</div>
<div class="home-page-container" id="mobile-container">
  <Image id="background" src={MobileLandingPage} alt="" fetchpriority="high" />
</div>

<style>
  body {
    background: linear-gradient(to right, #002d65, #318171);
  }
  #background {
    max-width: 95%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .home-page-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #desktop-container {
    display: block;
  }

  #mobile-container {
    display: none;
  }

  @media (max-width: 768px) {
    #desktop-container {
      display: none;
    }
    #mobile-container {
      display: block;
    }
  }
</style>
