---
import "@fontsource/sorts-mill-goudy";
import "@fontsource-variable/montserrat";
import type { Election } from "../generated/prisma/client";
import { GET } from "../pages/api/elections";
import "../styles/global.css";

const electionsResponse = await GET(Astro);
const elections: Election[] = await electionsResponse.json();
---

<div id="container">
  {
    elections.map((election) => (
      <div>
        <h2>{election.name}</h2>
        <p>{election.description}</p>
      </div>
    ))
  }
</div>

<style>
  body {
    background: linear-gradient(to right, #002d65, #318171);
  }
  #background {
    max-width: 95%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .home-page-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #desktop-container {
    display: block;
  }

  #mobile-container {
    display: none;
  }

  @media (max-width: 768px) {
    #desktop-container {
      display: none;
    }
    #mobile-container {
      display: block;
    }
  }
</style>
